.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.hero__image{
    height: 10rem;
    width: 10rem;
    border-radius: 250px;
}
.hero__subtitle{
    color: var(--cl-slate400);
    text-align: center;
    font-size: var(--size-base);
}
.hero__name{
    color: var(--cl-red);
    font-size: var(--size-5xl);
    text-transform: uppercase;
}
.hero__description{
    color: var(--cl-slate400);
    padding: 0 2rem;
}

/* xs */
@media (min-width: 475px){
}
/* sm */
@media (min-width: 640px){
}
/* md */
@media (min-width: 768px){
}
/* lg */
@media (min-width: 1024px){
    .container{
        max-width: 1024px;
    }
    .hero__image{
        height: 15rem;
        width: 15rem;
    }
    .hero__subtitle{
        font-size: var(--size-2xl);
    }
    .hero__name{
        font-size: var(--size-7xl);
    }
    br{
        display: none;
    }
    .hero__description{
        font-size: var(--size-xl);
    }
    .hero__button{
        font-size: var(--size-xl);
    }
}
/* xl */
@media (min-width: 1280px){
    .container{
        max-width: 1280px;
    }
    .hero__name{
        font-size: var(--size-8xl);
    }
    br{
        display: none;
    }
    .hero__description{
        font-size: var(--size-2xl);
    }
}
/* 2xl */
@media (min-width: 1536px){
}